#restaurant_form {
  height: calc(100vh - 55px);
  padding: 20px 0;
  background-image: url("/img/main-bg.jpg");

  .container {
    height: 100%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;

      .box {
        height: calc(100% / 6 - 20px);
        background-color: #F9F9F9;
        border-radius: 20px;
        box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
      }
    }
  }
}
