
#main_homepage_guest {
  margin-top: $headerHeight;
  position: relative;
  height: calc(100vh - #{$headerHeight});
  .round_box {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: $shadowCard;
  }
  #search_by_categories {

    @include setPositionAbsolute(50%, 50px);
    transform: translateY(-50%);

  }
}
