 main {
   min-height:calc(100vh - 80px)
 }
 
 #jumbotron {
    margin-top: 80px;
    position: relative;
    p {
      background-color: $yellowPrimary;
      margin: 0;
      text-align: center;
    }  
    #container_categories {
      background-color: $yellowPrimary;
      height: 320px;
      display: flex;
      justify-content: center;
  }
}

#main_homepage_guest {
  margin-top: $headerHeight;
  position: relative;

  height: calc(100vh - #{$headerHeight});
  .round_box {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $white;
    box-shadow: $shadowCard;
  }
 
  #search_by_categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
  }
}
