@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#restaurant_form {
  height: calc(100vh - 55px);
  padding: 20px 0;
  background-image: url("/img/main-bg.jpg");
  overflow-x: hidden;
}
#restaurant_form .container {
  height: 100%;
}
#restaurant_form .container form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#restaurant_form .container form .box {
  height: calc(100% / 6 - 20px);
  margin-bottom: 20px;
  background-color: #F9F9F9;
  border-radius: 20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
#restaurant_form .container form .box .input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#restaurant_form .container form .box .input_container i {
  font-size: 50px;
  color: #008169;
  transition: opacity 0.5s linear;
}
#restaurant_form .container form .box .input_container input[type=text] {
  width: 70%;
  margin: 0 20px;
  font-size: 30px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c1c1c1;
  color: #c1c1c1;
}
#restaurant_form .container form .box .input_container input[type=text]:focus {
  outline: none;
}
#restaurant_form .container form .box .input_container button {
  background-color: transparent;
  border: none;
}
#restaurant_form .container form .box .input_container button i {
  color: #303030;
}

#dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 80px;
  background-color: #303030;
}
#dashboard aside {
  height: 100%;
  width: 100px;
  margin-right: 10px;
  background: rgba(255, 254, 254, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#dashboard main {
  height: 100%;
  width: calc(100% - 110px);
  padding: 20px;
  background: rgba(255, 254, 254, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#dashboard main header {
  width: 90%;
  height: 200px;
  margin: auto;
  background-color: #303030;
  border-radius: 10px;
}
#dashboard main .bottom {
  width: calc(100% - 110px);
  height: calc(100% - 200px);
  padding: 20px;
  margin: auto;
  background-color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-color: #008169;
}

#backend {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#backend .row {
  height: 100%;
}
#backend .row main {
  height: 100%;
  padding: 50px 80px;
}
#backend .row aside {
  height: 100%;
  padding: 50px 30px;
  border-left: 4px solid #F8F8F7;
  background-color: #FCFCFA;
}
#backend .row aside header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  height: 80px;
}
#backend .row aside header .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
}
#backend .row aside header .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 20%;
}
#backend .row aside header i {
  font-size: 30px;
}

@media all and (max-width: 576px) {
  #background {
    padding: 0;
  }
}
