@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #303030;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #00A082;
}
a:hover i {
  color: #00A082;
}

.aside_slide_right {
  -webkit-animation-name: aside_slide_right;
          animation-name: aside_slide_right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.aside_slide_left {
  -webkit-animation-name: aside_slide_left;
          animation-name: aside_slide_left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_slide_right {
  -webkit-animation-name: main_slide_right;
          animation-name: main_slide_right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main_slide_left {
  -webkit-animation-name: main_slide_left;
          animation-name: main_slide_left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade_in {
  -webkit-animation-name: fade_in;
          animation-name: fade_in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fade_out {
  -webkit-animation-name: fade_out;
          animation-name: fade_out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

@-webkit-keyframes aside_slide_right {
  0% {
    width: 20%;
    /* padding: $paddingAside; */
    border-left: 4px solid #f8f8f7;
  }
  100% {
    width: 0%;
    padding: 0;
    border-left: 4px solid rgba(248, 248, 247, 0);
  }
}

@keyframes aside_slide_right {
  0% {
    width: 20%;
    /* padding: $paddingAside; */
    border-left: 4px solid #f8f8f7;
  }
  100% {
    width: 0%;
    padding: 0;
    border-left: 4px solid rgba(248, 248, 247, 0);
  }
}
@-webkit-keyframes aside_slide_left {
  0% {
    width: 0%;
    padding: 0;
    border-left: 4px solid rgba(248, 248, 247, 0);
  }
  100% {
    width: 20%;
    /* padding: $paddingAside; */
    border-left: 4px solid #f8f8f7;
  }
}
@keyframes aside_slide_left {
  0% {
    width: 0%;
    padding: 0;
    border-left: 4px solid rgba(248, 248, 247, 0);
  }
  100% {
    width: 20%;
    /* padding: $paddingAside; */
    border-left: 4px solid #f8f8f7;
  }
}
@-webkit-keyframes main_slide_right {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@keyframes main_slide_right {
  0% {
    width: 100%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes main_slide_left {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@keyframes main_slide_left {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#restaurant_form {
  height: calc(100vh - 55px);
  padding: 20px 0;
  background-image: url("/img/main-bg.jpg");
  overflow-x: hidden;
}
#restaurant_form .container {
  height: 100%;
}
#restaurant_form .container form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#restaurant_form .container form .box {
  height: calc(100% / 6 - 20px);
  margin-bottom: 20px;
  background-color: #F9F9F9;
  border-radius: 20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}
#restaurant_form .container form .box .input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#restaurant_form .container form .box .input_container i {
  font-size: 50px;
  color: #008169;
  transition: opacity 0.5s linear;
}
#restaurant_form .container form .box .input_container input[type=text] {
  width: 70%;
  margin: 0 20px;
  font-size: 30px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c1c1c1;
  color: #c1c1c1;
}
#restaurant_form .container form .box .input_container input[type=text]:focus {
  outline: none;
}
#restaurant_form .container form .box .input_container button {
  background-color: transparent;
  border: none;
}
#restaurant_form .container form .box .input_container button i {
  color: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #00A082;
}
#background .dashboard_edit_restaurant_form {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#background .dashboard_edit_restaurant_form .edit_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px 8px rgba(0, 0, 0, 0.2);
}

#container_dashboard {
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
#container_dashboard #dashboard_main {
  height: 100%;
  padding: 50px 80px;
  overflow-y: auto;
}
#container_dashboard aside {
  position: relative;
  width: 20%;
  height: 100%;
  padding: 50px 30px;
  border-left: 4px solid #f8f8f7;
  background-color: #FCFCFA;
  overflow-y: auto;
}
#container_dashboard aside .image_curve {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background-image: url("/img/wave.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#container_dashboard aside div#aside_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
}
#container_dashboard aside div#aside_top i {
  margin-right: 10px;
  font-size: 25px;
}
#container_dashboard aside div#aside_top span {
  display: inline-block;
}
#container_dashboard aside #aside_center {
  width: 80%;
}
#container_dashboard aside #aside_center #route_list {
  border-top: 2px solid #9B9B9B;
  border-bottom: 2px solid #9B9B9B;
}
#container_dashboard aside #aside_center #route_list li {
  transition: transform 0.3s linear;
}
#container_dashboard aside #aside_center #route_list li .link-aside i {
  font-size: 25px;
  vertical-align: middle;
}
#container_dashboard aside #aside_center #route_list li .link-aside small {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 600;
}
#container_dashboard aside #aside_center #route_list li:hover {
  transform: scale(1.1);
}
#container_dashboard aside #aside_center #route_list li:hover .link-aside {
  color: #00A082;
}
#container_dashboard ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
#container_dashboard ::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
#container_dashboard ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9B9B9B;
}
#container_dashboard #burgerIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-decoration: none;
}
#container_dashboard #burgerIcon i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 3px;
  color: #1E1E1E;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #1E1E1E;
  transition: all 0.2s ease-out;
}
#container_dashboard #burgerIcon i::before, #container_dashboard #burgerIcon i::after {
  content: "";
  width: 18px;
  height: 3px;
  background: #1E1E1E;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
#container_dashboard #burgerIcon i::before {
  top: -7px;
}
#container_dashboard #burgerIcon i::after {
  bottom: -7px;
}
#container_dashboard #burgerIcon:hover i::before {
  top: -10px;
}
#container_dashboard #burgerIcon:hover i::after {
  bottom: -10px;
}
#container_dashboard #burgerIcon.active i {
  background: #ffffff;
}
#container_dashboard #burgerIcon.active i::before {
  top: 0;
  transform: rotateZ(45deg);
}
#container_dashboard #burgerIcon.active i::after {
  bottom: 0;
  transform: rotateZ(-45deg);
}
#container_dashboard #burgerIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media all and (max-width: 992px) {
  #background {
    padding: 50px;
  }

  #container_dashboard aside header {
    justify-content: center;
  }
  #container_dashboard aside header i {
    margin-right: 0;
    font-size: 30px;
  }
  #container_dashboard aside header span {
    display: none;
  }
  #container_dashboard aside main {
    text-align: center;
  }
  #container_dashboard aside main ul li a .dashboard-icon {
    font-size: 30px;
  }
  #container_dashboard aside main h3 {
    display: none;
  }
  #container_dashboard aside small {
    display: none;
  }
  #container_dashboard aside #settings_dashboard span {
    display: none;
  }
}
@media all and (max-width: 767px) {
  #background {
    padding: 20px;
  }

  aside {
    padding: 0 !important;
    /* .aside_slide_left {
      padding: 0!important;
    } */
  }
}
@media all and (max-width: 575px) {
  #background {
    padding: 0;
  }

  #container_dashboard {
    border-radius: 0;
  }
}
#dashboard_index .bottom {
  display: flex;
  justify-content: space-between;
}

