* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-color: $greenPrimaryHover;
}

#backend {
  height:100%;
  background-color: $white;
  border-radius: $borderRadCard;
  box-shadow: $shadowDashboard;
  overflow: hidden;
  position: relative;
  @include SetFlexContainer(row, flex-start, stretch, wrap);


    #dashboard-main {
      height: 100%;
      padding: $paddingMain;
    }

    aside{
      height: 100%;
      padding: $paddingAside;
      border-left: 4px solid rgba(248, 248, 247, 1);
      background-color: $grayAside;

      header {
        @include SetFlexContainer(row, flex-start, center, nowrap);
        height: 80px;

        a{
          margin-right: 10px;
          font-size: 30px;
        }
      }

      main {

        ul {
          border-top: 2px solid $gray;
          border-bottom: 2px solid $gray;
          li {
            transition: transform 0.3s linear;

            a {

              i {
                font-size: 30px;
                vertical-align: middle;


              }
              small {
                margin: 0 10px;
                font-size: 15px;
                font-weight: 600;
              }
            }
            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }


// BURGER MENU ----------------------------------------------------------------------------------
  #burgerIcon {
    display: inline-block;
    width:18px;
    height:18px;
    cursor: pointer;
    text-decoration: none;

    i {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 3px;
      color:#252525;
      font:bold 14px/.4 Helvetica;
      text-transform: uppercase;
      text-indent:-55px;
      background: #252525;
      transition:all .2s ease-out;
    }
  }
  #burgerIcon i::before, #burgerIcon i::after {
    content:'';
    width: 18px;
    height: 3px;
    background: #252525;
    position: absolute;
    left:0;
    transition:all .2s ease-out;
  }
  #burgerIcon i::before {
    top: -7px;
  }
  #burgerIcon i::after {
    bottom: -7px;
  }
  #burgerIcon:hover i::before {
    top: -10px;
  }
  #burgerIcon:hover i::after {
    bottom: -10px;
  }
  #burgerIcon.active i {
    background: #fff;
  }
  #burgerIcon.active i::before {
    top:0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  #burgerIcon.active i::after {
    bottom:0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  #burgerIcon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

// MEDIA QUERY --------------------------------------------------------------------------------
@media all and (max-width: 576px) {
  #background {
    padding: 0;
  }
}
