header {
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  height: $headerHeight;
  //background-color: transparent;
  transition: all 0.3s linear;

  &.active {
    box-shadow:  $darkShadowCard;

  }

  .container {
    height: 100%;

    .row {
      height: 100%;

      .left {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        //background-color: green;
      }

      .center {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        //background-color: red;

        input[type=text] {
          width: 80%;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: $darkWhite;
          box-shadow: $darkShadowCard;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }

      .right {
        height: 100%;
        //background-color: green;
      }
    }
  }
}

main {
  // min-height: calc( 100vh - 160px);
  //margin-top: 80px;
}



// FOOTER farà parte del layout
footer {

  #footer-bottom {
    background-color: #1d1d1d;
    min-height: 100px;
  }

}
