header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-color: $yellowPrimary;

  .container {
    height: 100%;

    .row {
      height: 100%;

      .left {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        //background-color: green;
      }

      .center {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        //background-color: red;

        input[type=text] {
          width: 80%;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: $darkWhite;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }

      .right {
        height: 100%;
        //background-color: green;
      }
    }
  }
}

// FOOTER farà parte del layout
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $footerHeight;
  background-color: $black;
  transition: width 1s linear;

  .show_footer {
    position: absolute;
    top: 0;
    right: 0;
    width: $footerHeight;
    height: $footerHeight;
    line-height: $footerHeight;
    text-align: center;
    cursor: pointer;

    i {
      color: $yellowPrimary;
    }
  }
}
