header {
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  height: $headerHeight;
  //background-color: transparent;
  transition: all 0.3s linear;

  &.active {
    box-shadow:  $darkShadowCard;

  }

  .container {
    height: 100%;

    .row {
      height: 100%;

      .left {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        //background-color: green;
      }

      .center {
        @include SetFlexContainer (row, center, center, wrap);
        height: 100%;
        position: relative;
        //background-color: red;

        input[type=text] {
          width: 80%;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: $darkWhite;
          box-shadow: $darkShadowCard;
          border: none;
          transition: all .5s;

          &:focus {
            outline: none;
            transform: scale(1.1);
          }
        }
        .searched_box{
          width: 80%;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $darkWhite;
          box-shadow: $darkShadowCard;
          position: absolute;
          left: 10%;
          top: 90%;

          li{
            padding: 10px;
            border-radius: 50px;
            border-bottom: 2px solid #ba181b;
            box-shadow: $darkShadowCard;
            margin: 10px 0;

            a{
              display: flex;
              align-items: center;
              // &:hover{
              //   color: black;
              // }

              .container_image{
                box-shadow: $darkShadowCard;
                padding: 5px;
                width: 50px;
                height: 50px;
                border-radius: 100%;
  
                img{
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                }
              }
              span{
                padding-left: 10px;
                font-size: 20px;
                font-weight: 600;
              }
            }

            
            &:hover{
              background: rgba(241, 26, 26, 0.411);
            }
          }
          
          

        }
      }

      .right {
        height: 100%;
        //background-color: green;

        img.restaurant_logo {
          width: 60px;
          height: 60px;
          padding: 2px;
          border-radius: 50%;
          border: 2px solid #A9E5BB;
        }

        i {
          padding: 5px;
          font-size: 30px;
          color: #2D1E2F;
          border: 2px solid #2D1E2F;
          border-radius: 3px;
        }
      }
    }
  }
}

main {
  // min-height: calc( 100vh - 160px);
  //margin-top: 80px;
}



// FOOTER farà parte del layout
footer {

  #footer-bottom {
    background-color: #1d1d1d;
    min-height: 100px;
  }

}

//BANNER DEL CARRELLO
#cart_banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: $white;
}

.slide-enter-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 100px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}
